<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>서원대학교</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="css/Main.css" />
<link rel="stylesheet" type="text/css" href="css/Main_Content.css" />
<link rel="stylesheet" type="text/css" href="css/LoginPopup.css" />

</head>
<body>
	<div th:insert="fragments/header :: page_toparea"></div>
	<div th:insert="fragments/header :: SitemapPopup"></div>
	<div th:insert="fragments/header :: LoginPopup"></div>
	<script src="js/SitemapPopup.js"></script>
	<script src="js/LoginPopup.js"></script>
</body>
</html>