<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>서원대학교</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="css/Main.css" />
<link rel="stylesheet" type="text/css" href="css/Main_Content.css" />
<link rel="stylesheet" type="text/css" href="css/LoginPopup.css" />
<link rel="stylesheet" type="text/css" href="css/Prototype_CSS.css" />

</head>
<body>
	<div th:insert="fragments/header :: page_toparea"></div>
	<div th:insert="fragments/header :: SitemapPopup"></div>

	<div th:insert="fragments/header :: LoginPopup"></div>
	<main class="main_contents">
		<div class="contents">

			<section class="nav-contents">
				<div class="nav-inner">
					<ul class="nav-list">
						<li class="l-info select-list"><a class="btnInfo">정보</a></li>
					</ul>
				</div>

				<div class="contents-info show">
					<section class="section_marea">
						<div class="info_text_area">
							<img
								src="https://semsplus.seowon.ac.kr/contents/images/client/sub/icon_tit_lg.png" />
							<h3 class="info_text">기본 정보</h3>
						</div>


						<!-- 학생 기본 정보 출력 -->
						<div class="base_info_table">
							<table>
								<tbody>
									<tr>
										<th>단과대학</th>
										<td>사범대학</td>
										<th>소속</th>
										<td th:text="${student.major_number}">r</td>
									</tr>
									<tr>
										<th>부/복수/연계/융합전공</th>
										<td></td>
										<th>학년</th>
										<td th:text="${student.grade}"></td>
									</tr>
									<tr>
										<th>학번</th>
										<td th:text="${student.university_number }"></td>
										<th>이름</th>
										<td th:text="${student.name}+'('+${student.sex} +')'"></td>
									</tr>
								</tbody>
							</table>


							<table>
								<tr>
									<th colspan="6">진단 결과</th>
								</tr>
								<tr>
									<th>진단역량</th>
									<th>역량별 진단 점수</th>
									<th>백분율</th>
									<th>준비수준</th>
									<th>순위</th>
									<th>역량 평가</th>
								</tr>
								<th:block th:if="${level != null}">
									<tr th:each="level:${level}">

										<th:block th:if="${level.preparation_rank == '1' }">
											<th class="level_category"
												th:text="${level.capability_name}"></th>
											<td th:text="${level.category_score}"></td>
											<td class="level_score"
												th:text="${level.preparation_degree}+'%'"></td>
											<td th:text="${level.preparation_level}"></td>
											<td th:text="${level.preparation_rank}">
											<td rowspan="8"><div class="canvas_graph">
													<canvas id="myCanvas" style="background-color: aliceblue"
														width="380px" height="380px">			
															</canvas>

												</div></td>

										</th:block>
										<th:block th:if="${level.preparation_rank != '1'}">
											<th class="level_category"
												th:text="${level.capability_name}"></th>
											<td th:text="${level.category_score}"></td>
											<td class="level_score"
												th:text="${level.preparation_degree}+'%'"></td>
											<td th:text="${level.preparation_level}"></td>
											<td th:text="${level.preparation_rank}"></td>
										</th:block>


									</tr>
								</th:block>
								<th:block th:if="${level == null}">
									<tr>
										<th>자기이해</th>

										<td colspan="4" rowspan="8" style="font-size: 20px;">진로개발진비도
											검사를 진행해주세요</td>
										<td rowspan="8"><div class="canvas_graph">
												<canvas id="myCanvas" style="background-color: aliceblue"
													width="380px" height="380px">			
															</canvas>

											</div></td>

									</tr>
									<tr>
										<th>진로탐색</th>
									</tr>
									<tr>
										<th>진로결정</th>
									</tr>
									<tr>
										<th>진로설계</th>
									</tr>
									<tr>
										<th>경력개발</th>
									</tr>
									<tr>
										<th>실무역량</th>
									</tr>
									<tr>
										<th>맞춤취업</th>
									</tr>
									<tr>
										<th>구직활동</th>

									</tr>
								</th:block>




							</table>
						</div>

						<br>
						<!-- 학생 기본정보 및 역량 결과 (끝) -->
						<!-- 역량 그래프 요소 -->
						<!-- 역량 그래프 요소 (끝) -->
					</section>
				</div>
				<!-- contents-info show/학생 기본 정보 및 역량 평가 출력 div-->
				


			</section>
		</div>
	</main>
	<div th:insert="fragments/header :: SitemapPopup"></div>
	<div th:insert="fragments/header :: LoginPopup"></div>
	<script src="js/SitemapPopup.js"></script>
	<script src="js/LoginPopup.js"></script>
	<script src="js/MyPage.js"></script>
	<script src="js/Competency_graph.js"></script>
</body>
</html>