html {
	font-size: 10px;
}

textarea {
	width: 1110px;
	height: 170px;
}
h4{
	font-size: 1.75rem;
}

table {
	margin: 10px 0;
}

.info_text_area {
	display: inline-block;
	margin-bottom: 10px;
}

.info_text_area img, h3 {
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	font-weight: 700;
}

.btnArea {
	display: inline-block;
	float: right;
}
.btnRegister {
	width: 100px;
	height: 30px;
	font-size: 1.5rem;
}